<!doctype html>
<html lang="en">
<%- include('./partials/head') %>


<head>
    <meta charset="UTF-8">
    <title>Le Bike</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet", type="text/css", href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel= "stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"/>
    <link rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css"/>
    <link rel= "stylesheet", type="text/css", href="https://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css"/>

</head>
<body>
<div class="headr">
    <div class="title">Le bike</div>
    <div class="account"><span id="username"></span></div>
    <div class="account"><i class="material-icons" onclick="window.location.href = '/login'">account_circle</i> </div>
</div>

<div class="bodycontainer1">
    <div class="navegacao">
        <div class="Nav_selected">Inicio</div>
        <div class="Nav_item" onclick="window.location.href='/Reservas'" >Reservar</div>
        <div class="Nav_item" onclick="window.location.href = '/minhasreservas'">As minhas Reservas</div>
        <div class="Nav_item" onclick="window.location.href='/Informacao'" >Informações</div>
    </div>
    <article>
        <img class="lebike" src="BannerA.jpg" alt="Le bike">
        <div class="pcontainer">
            <div class="pcontainer2">
                <p class="p3">Com o intuito de tornar a cidade do Funchal mais inteligente, facilitar deslocações pela cidade, e dar a todos os nossos clientes uma vista diferente da nossa ilha, decidimos criar este projeto. Iremos disponibilizar bicicletas aos interessados, seja por uma tarde, um fim de semana diferente, umas férias na ilha, ou mesmo para o ano todo. Tudo isto poderá ser planeado e agendado na nossa aplicação, desde pagamentos e escolha de pacotes, a escolhas da bicicleta.</p>
           </div>
        </div>
    </article>
</div>

<footer class="footer1">
    <div class="footerC">
        <div class="footerI"><i class="material-icons">email</i><p>lebikeer@gmail.com</p></div>
        <div class="footerI"><i class="material-icons">phone</i><p>291000000</p></div>
        <div class="footerI"><i class="material-icons">place</i><p>Caminho da Penteada, 9020-105 Funchal</p></div>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const usernameSpan = document.getElementById("username");
    
    socket.on('connect', () => {

        socket.emit('whoami', (username) => {
            usernameSpan.innerText = username;
            document.getElementById("username").setAttribute("value",username);
        });


    });


</script>
</body>
</html>

