<!doctype html>
<html lang="en">
<%- include('./partials/head') %>


<head>
    <meta charset="UTF-8">
    <title>Le Bike</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet", type="text/css", href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel= "stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"/>
    <link rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css"/>
    <link rel= "stylesheet", type="text/css", href="https://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css"/>
    
</head>
<body>
    <div class="headr">
        <div class="title">Le bike</div>
        <div class="account"><span id="username"></span></div>
        <div class="account"><i class="material-icons" onclick="window.location.href = '/login'">account_circle</i> </div>
    </div>

<div class="bodycontainer1">
    <div class="navegacao">
        <div class="Nav_item" onclick="window.location.href='/'">Inicio</div>
        <div class="Nav_item" onclick="window.location.href='/Reservas'" >Reservar</div>
        <div class="Nav_selected">As minhas Reservas</div>
        <div class="Nav_item" onclick="window.location.href='/Informacao'" >Informações</div>
        
    </div>
    <article >
        
        <div id="reservas"></div>
        <script>
        function minhasreservas(Reserva){
            if(Reserva.length!==0){
                for(var i=0;i<Reserva.length;i++){
                    var minhaReserva = document.createElement("p");
                    minhaReserva.setAttribute("id",i);
                    minhaReserva.setAttribute("class","p3");
                    minhaReserva.setAttribute("value",Reserva[i].UserID);
                    minhaReserva.innerText = " Nome: "+Reserva[i].UserID + ", Modelo: " + Reserva[i].bikeModel+ ", Data de inicio: "+Reserva[i].inicio+ ", Data final: "+Reserva[i].fim;
                    document.getElementById("reservas").appendChild(minhaReserva);
                    var delRes = document.createElement("form");
                    delRes.setAttribute("id","del"+i);  
                    delRes.setAttribute("method","post");
                    delRes.setAttribute("action","/minhasreservas");
                    minhaReserva.appendChild(delRes);
                    var delbut = document.createElement("button");
                    delbut.setAttribute("class","p4");
                    delbut.setAttribute("name","delbut")
                    delbut.setAttribute("id","delbut"+i);
                    delbut.setAttribute("value",Reserva[i]._id)  ;
                    delbut.setAttribute("type","submit");
                    delbut.innerText="Apagar reserva";
                    delRes.appendChild(delbut);
                  
                }
                
            }
            else{

               var reserv = document.createElement("p");
                reserv.setAttribute("value","OI")
            }
        }

    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       
        const socket = io();
        
    
        socket.on('connect', () => {
            
            
            socket.emit('whoami', (username) => {
                usernameSpan.innerText = username;
                document.getElementById("username").setAttribute("value",username);
                });
            
                
            socket.emit('myreservas', (Reserva) => {
                minhasreservas(Reserva);
                
            });
        });
    </script>
    </article>
</div>

<footer class="footer1">
    <div class="footerC">
        <div class="footerI"><i class="material-icons">email</i><p>lebikeer@gmail.com</p></div>
        <div class="footerI"><i class="material-icons">phone</i><p>291000000</p></div>
        <div class="footerI"><i class="material-icons">place</i><p>Caminho da Penteada, 9020-105 Funchal</p></div>
    </div>
</footer>

<script>
    
   
</script>
</body>
</html>
